@import "../abstracts/variables";
.folder-tree-list {
  margin-top: 1rem;
  flex: 1;
  height: 100%;
  max-height: calc(100vh - 168px);
  overflow-y: auto;

  .folder-tree-list__item {
    padding: 6px 8px;
    border-radius: 16px;
    color: $gray-900;
    font-weight: 300;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $gray-100;
    }

    button {
      background-color: transparent;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .folder-btn {
      display: inline-flex;
      align-items: center;
      gap: 12px;
      color: $gray-900;

      .folder-btn__icon {
        min-width: 20px;
        font-size: 20px;
      }
    }
  }

  .folder-tree-list__item__selected {
    @extend .folder-tree-list__item;
    background-color: $blue-200;
    &:hover {
      background-color: $blue-200;
    }
  }
}

.depth-placeholder {
  display: block;
  width: 8px;
  height: 4px;
}
